body {
  background-color: rgb(180, 35, 180);
  margin: 30px;
}

.name {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(60, 60, 60);
  font-family: Impact, fantasy;
  color: rgb(10, 70, 10);
  padding: 20px;
  text-align: center;
}

#info {
  background-color: rgb(5, 89, 122);
}

h2 {
  border-style: dashed;
  border-width: 5px;
  border-color: rgb(60, 60, 60);
  font-family: serif;
  color: rgb(10, 70, 10);
  padding: 15px;
  text-align: left;
}

p {
  border-style: dashed;
  border-width: 5px;
  border-color: rgb(60, 60, 60);
  font-family: serif;
  color: rgb(10, 70, 10);
  padding: 15px;
  text-align: left;
  line-height: 1.5;
}
